body {
    font-family: sans-serif;
}

nav a{
color:rgb(238, 255, 0);
text-decoration:none;
padding: 10px;
text-align: center;
}

nav{
background: linear-gradient(#00d9ff, #ff00ea);
padding: 25px;
width: 100%;
display: flex;
justify-content: center;
}

.h1header{
color: black;
border:2px dotted black;
border-radius: 10%;
}


.h3header{
text-align: right;
}

.headerimg{
width: 300px;
float:right;
top: 100px;
}
.lp{
    display: block;
    
}

.h1main{
    margin-top: 150px;
text-align: center;
}

.imgmain2{
width:200px;
}

.pl{
display: block;
}


.h1minys{
padding-top:100px;
text-align: center;
padding-bottom: 60px;
}

.imgnewnew{
width: 250px;
border-radius: 100px;
}

.maybe{
padding-top: 100px;
text-align: left;
}

.ma{
border-radius: 50px;
width: 500px;
}

.divv{
background: linear-gradient(#00d9ff, #ff00ea);
padding: 25px;
}

.imgfooter{
width: 80px;
float: left;
height: 90px;
}

.imgfooterprr{
width: 76px;
}

button{
 background: linear-gradient(#00d9ff, #ff00ea);
 padding: 5px;
 width: 100px;

}

.button button{
margin-right: 80px;
border:none;
}

button{
opacity: 30%;
}
button:hover {
color: rgb(30, 255, 0);
opacity: 100%;
}

.transform:hover {
    margin: 100px;
    transform:scale(2.5);
    transition:3s linear;
}

.imgmain2{
opacity: 30%;
}

.imgmain2:hover{
opacity: 100%;
}

.imgmain3{
opacity: 30%;
width: 200px;
}

.imgmain3:hover{
opacity: 100%;
}

.imgmain4{
opacity: 30%;
width: 200px;
}

.imgmain4:hover{
opacity: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

footer{
    padding: 3%;
    color: white;
    font-size: 30px;
    background: linear-gradient(#00d9ff, #ff00ea);
}

.foot{
    display: block ;
    justify-content: center;
    text-align: center;
}

.omg{
    display: block;
}

.row{
    display: flex;
    justify-content: center;
}
